<a class="joster-solve-toggle">
  <i class="fa-solid fa-lightbulb"></i> {{triggerLabel}}
  <i class="fa-solid fa-chevron-down joster-solve-chevron"></i>
</a>

<div class="joster-solve-panel">
  <div class="joster-solve-panel-inner">
    <div class="joster-solve-option" data-solve-action="newAttempt">
      <i class="fa-solid fa-arrow-rotate-right joster-solve-option-icon"></i>
      <div class="joster-solve-option-text">
        <span class="joster-solve-option-title">{{localize "JOSTER.Dialog.SolveOptionNewAttempt"}}</span>
        <span class="joster-solve-option-hint">{{newAttemptHint}}</span>
      </div>
      <i class="fa-solid fa-play joster-solve-option-run" title="{{localize 'JOSTER.Dialog.SolveOptionNewAttempt'}}"></i>
    </div>
    <div class="joster-solve-option" data-solve-action="findFlaw">
      <i class="fa-solid fa-magnifying-glass joster-solve-option-icon"></i>
      <div class="joster-solve-option-text">
        <span class="joster-solve-option-title">{{localize "JOSTER.Dialog.SolveOptionFindFlaw"}}</span>
        <span class="joster-solve-option-hint"><i class="fa-solid fa-clock"></i> {{findFlawHint}}</span>
      </div>
      <i class="fa-solid fa-play joster-solve-option-run" title="{{localize 'JOSTER.Dialog.SolveOptionFindFlaw'}}"></i>
    </div>
  </div>
</div>
