<a class="tno-solve-toggle">
  <i class="fa-solid fa-lightbulb"></i> {{triggerLabel}}
  <i class="fa-solid fa-chevron-down tno-solve-chevron"></i>
</a>

<div class="tno-solve-panel">
  <div class="tno-solve-panel-inner">
    <div class="tno-solve-option" data-solve-action="newAttempt">
      <i class="fa-solid fa-arrow-rotate-right tno-solve-option-icon"></i>
      <div class="tno-solve-option-text">
        <span class="tno-solve-option-title">{{localize "TNO.Dialog.SolveOptionNewAttempt"}}</span>
        <span class="tno-solve-option-hint">{{newAttemptHint}}</span>
      </div>
      <i class="fa-solid fa-play tno-solve-option-run" title="{{localize 'TNO.Dialog.SolveOptionNewAttempt'}}"></i>
    </div>
    <div class="tno-solve-option" data-solve-action="findFlaw">
      <i class="fa-solid fa-magnifying-glass tno-solve-option-icon"></i>
      <div class="tno-solve-option-text">
        <span class="tno-solve-option-title">{{localize "TNO.Dialog.SolveOptionFindFlaw"}}</span>
        <span class="tno-solve-option-hint"><i class="fa-solid fa-clock"></i> {{findFlawHint}}</span>
      </div>
      <i class="fa-solid fa-play tno-solve-option-run" title="{{localize 'TNO.Dialog.SolveOptionFindFlaw'}}"></i>
    </div>
  </div>
</div>
