<a class="edgefall-solve-toggle">
  <i class="fa-solid fa-lightbulb"></i> {{triggerLabel}}
  <i class="fa-solid fa-chevron-down edgefall-solve-chevron"></i>
</a>

<div class="edgefall-solve-panel">
  <div class="edgefall-solve-panel-inner">
    <div class="edgefall-solve-option" data-solve-action="newAttempt">
      <i class="fa-solid fa-arrow-rotate-right edgefall-solve-option-icon"></i>
      <div class="edgefall-solve-option-text">
        <span class="edgefall-solve-option-title">{{localize "EDGEFALL.Dialog.SolveOptionNewAttempt"}}</span>
        <span class="edgefall-solve-option-hint">{{newAttemptHint}}</span>
      </div>
      <i class="fa-solid fa-play edgefall-solve-option-run" title="{{localize 'EDGEFALL.Dialog.SolveOptionNewAttempt'}}"></i>
    </div>
    <div class="edgefall-solve-option" data-solve-action="findFlaw">
      <i class="fa-solid fa-magnifying-glass edgefall-solve-option-icon"></i>
      <div class="edgefall-solve-option-text">
        <span class="edgefall-solve-option-title">{{localize "EDGEFALL.Dialog.SolveOptionFindFlaw"}}</span>
        <span class="edgefall-solve-option-hint"><i class="fa-solid fa-clock"></i> {{findFlawHint}}</span>
      </div>
      <i class="fa-solid fa-play edgefall-solve-option-run" title="{{localize 'EDGEFALL.Dialog.SolveOptionFindFlaw'}}"></i>
    </div>
  </div>
</div>
