<div class="tno-roll-card dice-roll" data-action="expandRoll">
  <div class="tno-roll-summary">
    <div class="tno-roll-title">
      {{#if flavor}}
      <h3 class="tno-roll-flavor">{{flavor}}</h3>
      {{/if}}
      <span class="tno-roll-advantage-badge" title="{{advantageLabel}}">{{advantageAbbr}}</span>
    </div>

    <div class="tno-roll-dice">
      {{#each dice as |die|}}
      <span class="tno-die{{#if die.isCounted}} counted{{/if}}">{{die.value}}</span>
      {{/each}}
      {{#if hasThreshold}}
      <span class="tno-roll-threshold" title="{{localize "TNO.Roll.Threshold"}}">&le; {{threshold}}</span>
      {{/if}}
    </div>

    {{#if outcome}}
    <div class="tno-roll-outcome {{outcome}}">{{outcomeLabel}}</div>
    {{/if}}
  </div>

  <div class="dice-tooltip tno-roll-tooltip">
    <div class="wrapper">
      {{#each components as |component|}}
      <div class="tno-roll-detail">
        <span class="tno-roll-detail-label">{{component.label}}</span>
        <span class="tno-roll-detail-value">{{component.value}}</span>
      </div>
      {{/each}}
      {{#if showBonus}}
      <div class="tno-roll-detail">
        <span class="tno-roll-detail-label">{{localize "TNO.Roll.Bonus"}}</span>
        <span class="tno-roll-detail-value">{{bonusDisplay}}</span>
      </div>
      {{/if}}
      {{#if hasThreshold}}
      <div class="tno-roll-detail">
        <span class="tno-roll-detail-label">{{localize "TNO.Roll.Threshold"}}</span>
        <span class="tno-roll-detail-value">{{threshold}}</span>
      </div>
      {{/if}}
      <div class="tno-roll-detail">
        <span class="tno-roll-detail-label">{{localize "TNO.Roll.Advantage"}}</span>
        <span class="tno-roll-detail-value">{{advantageLabel}}</span>
      </div>
    </div>
  </div>
</div>
