<form class="edgefall-roll-dialog flexcol">
  <div class="edgefall-roll-subject">
    <h2 class="edgefall-roll-subject-name">{{subject}}</h2>
  </div>

  <div class="form-group edgefall-advantage-field">
    <label>{{localize "EDGEFALL.Roll.Advantage"}}</label>
    <div class="edgefall-advantage-group flexrow flex-center">
      {{#each advantageOptions as |option|}}
      <a class="edgefall-advantage-option {{#ifEquals option.value ../advantage}}active{{/ifEquals}}" data-value="{{option.value}}" title="{{#if option.isDefault}}{{localize 'EDGEFALL.Roll.AdvantageDefaultHint' label=option.label}}{{else}}{{option.label}}{{/if}}">{{option.abbr}}</a>
      {{/each}}
    </div>
    <input type="hidden" name="advantage" value="{{advantage}}"/>
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fas fa-dice-d20"></i> {{localize "EDGEFALL.Roll.Submit"}}</button>
  </footer>
</form>
