<form class="joster-skill-advance-dialog flexcol">
  <div class="form-group">
    <label>{{localize "JOSTER.SkillRankLabel"}}</label>
    <input type="number" name="rank" value="{{rank}}" min="0" max="10"/>
  </div>

  <div class="form-group">
    <label>{{localize "JOSTER.SkillXpLabel"}}</label>
    <input type="number" name="xp" value="{{xp}}" min="0"/>
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fas fa-check"></i> {{localize "JOSTER.SkillAdvanceSubmit"}}</button>
  </footer>
</form>
